<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <configSections>
    <section name="DatabaseFactoryConfiguration" type="RelatorioFinanceiroV5.Classes.Database.DatabaseFactorySectionHandler, RelatorioFinanceiroV5.Classes.Database, Version=1.0.0.0, Culture=neutral, PublicKeyToken = null"/>
  </configSections>
  
  <connectionStrings>
    <add name="spreadsheetConnectionString" providerName="MySql.Data.MySqlClient" connectionString="server=localhost;user id=root;password=gol123;persistsecurityinfo=True;database=spreadsheet"/>
  </connectionStrings>

  <DatabaseFactoryConfiguration Name="RelatorioFinanceiroV5.Classes.Database.MySqlDatabase" ConnectionString="spreadsheetConnectionString" />
  
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6"/>
    <httpRuntime/>
    <pages maintainScrollPositionOnPostBack="true" controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
</configuration>